#image {
    max-width: 30%;
    height: auto;
    object-fit: contain;
    margin: auto;
}

body {
    background-color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    display: block;
    padding-top: 65px;
    padding-bottom: 4px;
}

#under-title {
    margin-top: 5px;
    padding-bottom: 30px;;
}

#title-section {
    text-align: center;
    background-color: #d0d0d0;
}

#title {
    font-size: 40px;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#img-div {
    /*background-color: #d0d0d0;*/
    text-align: center;
    margin: auto;
}

#img-caption {
    padding: 10px;
    padding-bottom: 60px;
    font-size: 23px;
}

#timeline-section {
    text-align: center;
    background-color: #d0d0d0;
    padding: 10px;
}

ul {
    padding-left: 30%;
    padding-right: 30%;
    text-align: left;
}

li {
    margin-bottom: 30px;
    line-height: 1.7;
    word-spacing: 3px;
    font-size: 1.225rem;
}

.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display:flex;
    aspect-ratio: 4/3;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /*box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%, 0.25);*/
    border-radius: 0.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}